<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUrl" value="https://crudeops.documents.azure.com:443/"/>
		<add key="AuthorizationKey" value="IbT2aRiMF09NFTcVVJSXF0jCZze8zhJxWpTqKcQMQdVMqwVHjX6F8JSPGxQrnuDBrVfwHxFHwTdeuv2g33gujA=="/>
		<add key="DatabaseId" value="FamilyDatabase"/>
		<add key="ContainerId" value="FamilyContainer"/>
	</appSettings>
</configuration>